body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #444;
    font-size: 14px;
    line-height: 20px;
    width: 100%;
    background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #444;
    text-transform: uppercase;
}


/* Override the bootstrap defaults */

h1 {
    font-size: 24px;
}

h2 {
    font-size: 27px;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 12px;
}

h6 {
    font-size: 10.2px;
}

a {
    color: #cd4e37;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: #b53626;
}

legend {
    font-size: 18px;
    padding: 7px 0px
}

label {
	display: block;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
}

.checkout-checkout label {
    font-weight: normal;
    font-size: 16px;
}

select.form-control,
textarea.form-control,
input[type="text"].form-control,
input[type="password"].form-control,
input[type="datetime"].form-control,
input[type="datetime-local"].form-control,
input[type="date"].form-control,
input[type="month"].form-control,
input[type="time"].form-control,
input[type="week"].form-control,
input[type="number"].form-control,
input[type="email"].form-control,
input[type="url"].form-control,
input[type="search"].form-control,
input[type="tel"].form-control,
input[type="color"].form-control {
    font-size: 18px;
    height: 40px;
    max-width: 300px;
    border: 2px solid #dadada;
    border-radius: 0;
    outline: none !important;
    webkit-box-shadow: none;
    box-shadow: none;
}

input:focus::-webkit-input-placeholder {color: transparent}
input:focus::-moz-placeholder          {color: transparent}
input:focus:-moz-placeholder           {color: transparent}
input:focus:-ms-input-placeholder      {color: transparent}

.form-control:focus {
    border-color: #dadada;
    -webkit-box-shadow: none;
    box-shadow: none;
}

input[type=radio],
input[type=checkbox] {
    position: relative !important;
    width: 40px;
    height: 40px;
    margin: 0 8px 0 0 !important;
    display: inline-block;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    -webkit-appearance: none;
    outline: 0 !important;
    cursor: pointer;
}

input[type=radio]:not(:checked),
input[type=checkbox]:not(:checked) {
    background: url(/image/catalog/other/radio.png) 0 0 transparent no-repeat
}

input[type=radio]:checked,
input[type=checkbox]:checked {
    background: url(/image/catalog/other/radio.png) 0px -45px transparent no-repeat;
}

.input-phone {
    padding-left: 60px;
}

.input-phone-group {
    position: relative;
}

.region-selector {
    position: absolute;
    top: 27px;
    width: 50px;
}

.region-selector::after {
    content: '';
    position: absolute;
    top: 15px;
    right: 3px;
    pointer-events: none;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 8px 6px 0;
    border-color: #cd4e37 transparent transparent;
}

.region-selector .select-box {
    -webkit-appearance: menulist-button;
    -moz-appearance: menulist-button;
    appearance: menulist-button;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    cursor: pointer;
    padding-left: 10px;
    width: 50px;
    height: 36px;
    border:0;
    color: #cd4e37;
    font-size: 15px;
    font-weight: 700;
    background-color: transparent;

}

.region-selector select > option {
    border:0;
}

.region-selector .select-box:focus {
    outline: none;
}

.checkbox,
.radio {
    margin-bottom: 0;
}

.checkbox label,
.radio label {
    padding-left: 0;
    padding-right: 20px;
}

.input-group input,
.input-group select,
.input-group .dropdown-menu,
.input-group .popover {
    font-size: 12px;
}

.sort-group {
    float: right;
    padding: 0;
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px;
    border: none;
    border-radius: 0;
}

.input-group .form-control {
    height: 40px;
    border: 2px solid #eee;
    border-radius: 0;
    outline: none;
    webkit-box-shadow: none;
    box-shadow: none;
}

option {
    border: 2px solid #000 !important;
}

header {
    position: relative;
    width: 100%;
    height: 70vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center center;
    background-image: url(/image/catalog/background.jpg);
    background-attachment: fixed;
    text-align: center;
    color: white;
}

@media (min-width: 768px) {
    header {
        height: 220px;
    }
}

@media (min-width: 1200px) {
    header {
        height: 120px;
    }
}

.common-home header {
    height: 110vh;
}

.common-home footer{
    margin-top: 0px;
}

.common-home #content {
    min-height: auto;
    padding: 0;
}

@media (min-width: 768px) {
	.common-home header {
	    height: 100vh;
	}
}

.block-bg-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    background-color: #141618;
    opacity: 0.8;
    -webkit-transition: opacity 0.8s;
    -moz-transition: opacity 0.8s;
    -o-transition: opacity 0.8s;
    transition: opacity 0.8s;
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

#logo {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px !important;
    transition: all 0.35s;
}

#logo img {
	max-width: 130px;
}

.common-home #logo {
    margin-left: -200px !important;
}

#logo a {
    display: inline-block;
    vertical-align: top;
}

#logo.affix {
    position: inherit;
    margin-left: 10px !important;
}

.common-home .header-content {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 10%;
    z-index: 999;
}

@media (min-width: 768px) {
    .common-home .header-content {
        top: 40%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        padding: 0 50px;
    }
}

@media (min-width: 1400px) {
    .common-home .header-content {
        top: 35%;
    }
}

.header-content .header-content-inner {
    display: none;
}

.header-content .header-content-inner .header-logo{
    max-width: 200px;
}

@media (min-width: 768px) {
    .header-content .header-content-inner .header-logo{
        max-width: 230px;
    }    
}

.common-home .header-content .header-content-inner {
    display: block;
}

.header-content .header-content-inner h1 {
    margin: 0;
    padding: 5px 10px;
    color: #ffffff;
    font-size: 22px;
    font-weight: 300;
}

@media (min-width: 768px) {
    .header-content .header-content-inner h1 {
        font-size: 45px;
    }
}

.header-content .header-content-inner span {
    font-weight: 700;
}

.header-content .header-content-inner .slogan {
    margin-top: 20px;
    font-size: 35px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 35px;
    text-align: left;
    padding: 0 20px;
}

@media (min-width: 800px) {
    .header-content .header-content-inner .slogan {
        margin-top: 5px;
        text-align: center;
        line-height: 20px;
    }
}

@media (min-width: 800px) {
    .header-content .header-content-inner .slogan div {
    	display: inline-block;
    	vertical-align: top;
    }
}

.header-content .header-content-inner .slogan span {
    color: #cd4e37;
}

.header-content .header-search {
    position: absolute;
    top: 100px;
    margin: 20px auto;
    padding: 20px 10px 0px 10px;
    background-color: rgba(255, 255, 255, 0.24);
    max-width: 600px;
    transition: all 0.35s;
    z-index: 999;
}

@media (max-height: 500px) {
	.header-content .header-search {
	    background-color: #eeeeee;	
	}

}

@media (min-width: 768px) {
    .header-content .header-search {
        left: 50%;
        margin-left: -295px;
    }
}

@media (min-width: 1200px) {
    .header-content .header-search {
        position: fixed;
        top: 0;
        left: 12%;
        margin-left: 0;
        z-index: 1040;
    }
    .header-content .header-search.affix {
        margin: 0;
        background-color: transparent;
    }
}

@media (min-width: 1600px) {
    .header-content .header-search {
        left: 23%;
        max-width: 800px;
    }
}

.common-home .header-content .header-search {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 30px auto;
    padding: 40px 10px 20px 10px;
    background-color: rgba(255, 255, 255, 0.24);
    max-width: 700px;
    transition: all 0.35s;
}

.common-home .header-content .header-search.affix {
	margin-top: 20px;
	background-color: #eeeeee;
}

@media (max-height: 500px) {
	.common-home .header-content .header-search {
	    background-color: #eeeeee;	
	}
}

@media (min-width: 768px) {
	.common-home .header-content .header-search {
	    position: relative;
	    top: 0;
	    left: 0;
	    margin: 30px auto;
	    padding: 40px 10px 20px 10px;
	    background-color: rgba(255, 255, 255, 0.24);
	    max-width: 850px;
	}
	.common-home .header-content .header-search.affix {
	    position: relative;
	    top: 0;
	    left: 0;
	    margin: 30px auto;
	    padding: 40px 10px 20px 10px;
	    background-color: rgba(255, 255, 255, 0.24);
	
	}
}

.header-content .header-search .search-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    margin-bottom: 20px;
    padding: 0 3px;
}

.header-content .header-search .search-item .btn {
    width: 100%;
}

@media (min-width:768px) {
    .header-content .header-search .search-item {
        width: 35%;
    }
    .header-content .header-search .search-item:last-child {
        width: 130px;
    }
}

.header-content .header-search input {
    border: none;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -khtml-border-radius: 0px;
    background: #ffffff !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.16) inset;
    outline: none;
    height: 40px;
    width: 100%;
    color: #333;
    font-size: 15px;
    text-transform: uppercase;
    padding: 0 10px 0 40px;
}

.header-content .header-search .fa {
    position: absolute;
    left: 15px;
    top: 4px;
    color: #c3c3c3;
    font-size: 30px;
    z-index: 1;
}

.header-content .header-search .search-item:hover .fa {
    color: #cd4f38;
}

.search-item .error {
    display: none;
    color: #fff;
    background-color: #cd4e37;
    text-align: left;
    padding: 3px 20px;
    text-transform: uppercase;
    font-size: 11px;
}

.search-item .error.show {
    display: block;
}

.choice-block {
	display: none;	
	position: absolute;
	width: 100%;
	bottom: 100px;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.common-home .choice-block {
		display: block;
	}
}

.choice-block .choice-block__box {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	margin: 10px 20px;
}

.choice-block .choice-block__text {
	display: block;
	padding: 10px;
	font-size: 18px;
	font-weight: 100;
	color: #ffffff;
	border: 1px solid #ffffff;
	transition: all 0.35s;
}

.choice-block .choice-block__text:hover {
	background-color: #cd4e37;
	border: 1px solid #cd4e37;
}

.choice-block-inmain {
	display: none;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
    padding: 20px;
}

@media (max-width: 500px) {
	.common-home .choice-block-inmain {
		display: block;
	}
}

.choice-block-inmain .choice-block-inmain__title {
	margin-bottom: 20px;
	font-size: 25px;
	line-height: 25px;
	text-align: left;
}

.choice-block-inmain .choice-block-inmain__box {
	display: inline-block;
	vertical-align: top;
	width: 180px;
	margin: 10px 20px
}

.choice-block-inmain .choice-block-inmain__text {
	display: block;
	padding: 10px;
	font-size: 18px;
	color: #cd4e37;
	border: 2px solid #cd4e37;
	transition: all 0.25s;
}

.choice-block-inmain .choice-block-inmain__text:hover,
.choice-block-inmain .choice-block-inmain__text:active,
.choice-block-inmain .choice-block-inmain__text:focus {
	background-color: #cd4e37;
	color: #ffffff;
}

header .header-scroll {
    display: none;
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 10px auto;
}

@media (min-width: 768px) {
    .common-home header .header-scroll {
        display: block;
    }
}

header .header-scroll a {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 300;
}

header .header-scroll i {
    display: block;
    font-size: 24px;
}


/* Fix some bootstrap issues */

span.hidden-xs,
span.hidden-sm,
span.hidden-md,
span.hidden-lg {
    display: inline;
}

.nav-tabs {
    margin-bottom: 15px;
}

.nav-tabs>li>a {
    border-radius: 0;
}

/* Gradent to all drop down menus */

.dropdown-menu li>a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

.container {
    width: 100%;
    padding: 0;
}

@media (min-width: 768px) {
    .container {
        max-width: 1050px;
    }
}


/* top */

#top {
    background-color: #EEEEEE;
    border-bottom: 1px solid #e2e2e2;
    padding: 4px 0px 3px 0;
    margin: 0 0 20px 0;
    min-height: 40px;
}

#top .container {
    padding: 0 20px;
}

#top #form-currency .currency-select,
#top #form-language .language-select {
    text-align: left;
}

#top #form-currency .currency-select:hover,
#top #form-language .language-select:hover {
    text-shadow: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#top .btn-link,
#top-links li,
#top-links a {
    color: #888;
    text-shadow: 0 1px 0 #FFF;
    text-decoration: none;
}

#top .btn-link:hover,
#top-links a:hover {
    color: #444;
}

#top-links .dropdown-menu a {
    text-shadow: none;
}

#top-links .dropdown-menu a:hover {
    color: #FFF;
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px;
}

#top-links {
    padding-top: 6px;
}

#top-links a+a {
    margin-left: 15px;
}


/* search */

#search {
    margin-bottom: 10px;
}

#search .input-lg {
    height: 40px;
    line-height: 20px;
    padding: 0 10px;
}

#search .btn-lg {
    font-size: 15px;
    line-height: 18px;
    padding: 10px 35px;
    text-shadow: 0 1px 0 #FFF;
}


/* cart */

#cart {
    margin-bottom: 10px;
}

#cart>.btn {
    font-size: 12px;
    line-height: 18px;
    color: #FFF;
}

#cart.open>.btn {
    background-image: none;
    background-color: #FFFFFF;
    border: 1px solid #E6E6E6;
    color: #666;
    box-shadow: none;
    text-shadow: none;
}

#cart.open>.btn:hover {
    color: #444;
}

#cart .dropdown-menu {
    background: #eee;
    z-index: 1001;
}

#cart .dropdown-menu {
    min-width: 100%;
}

@media (max-width: 478px) {
    #cart .dropdown-menu {
        width: 100%;
    }
}

#cart .dropdown-menu table {
    margin-bottom: 10px;
}

#cart .dropdown-menu li>div {
    min-width: 427px;
    padding: 0 10px;
}

@media (max-width: 478px) {
    #cart .dropdown-menu li>div {
        min-width: 100%;
    }
}

#cart .dropdown-menu li p {
    margin: 20px 0;
}


/* menu */

#menu {
    border: none;
    padding: 20px 0 0;
    min-height: 80px;
    background-color: transparent;
    transition: all 0.35s;
}

@media (min-width: 768px) {
    #menu {
        text-align: center;
    }
}

.corner-border {
    height: auto;
    border: none;
}

@media (min-width: 768px) {
    .corner-border {
        height: 0px;
        border-bottom: 80px solid rgba(255, 255, 255, 0.24);
        border-left: 20px solid transparent;
    }
}

#menu.affix {
    padding-top: 0px;
    background-color: #eeeeee;
    box-shadow: 0.5px 0.866px 5px 0 rgba(0, 0, 0, .2);
}

@media (min-width: 768px) {
    #menu.affix .corner-border {
        border-bottom: 80px solid #dadada;
        border-left: 20px solid transparent;
    }
}

.common-home #menu .navbar-collapse {
    top: 80px;
}

@media (min-width: 768px) {
    .common-home #menu .navbar-collapse {
        top: 0;
    }
}

#menu .navbar-collapse {
    position: absolute;
    top: 130px;
    width: 100%;
    background-color: #dadada;
    border: none;
}

@media (max-width: 767px) {
    #menu.affix .navbar-collapse {
        top: 80px;
    }
}

@media (min-width: 768px) {
    #menu .navbar-collapse {
        position: relative;
        top: 0;
        float: right;
        width: auto;
        background-color: transparent;
    }
}

#menu .navbar-nav {
    text-align: center;
}

#menu .navbar-nav .dropdown-menu li:first-child a {
    margin-left: 0px;
    padding-left: 20px !important;
}

#menu .navbar-nav li:first-child a {
    margin-left: -20px;
    padding-left: 30px !important;
}

#menu .nav>li>a {
    color: #333;
    min-height: 15px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}

#menu.affix .nav>li>a {
    color: #333;
}

@media (min-width: 768px) {
    #menu .nav>li>a {
        color: #fff
    }
    .navbar-nav>li>a {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

#menu .nav>li>a:hover,
#menu .nav>li.open>a {
    background-color: rgba(0, 0, 0, 0.1);
}

#menu .dropdown-menu {
    padding-bottom: 0;
}

#menu .dropdown-inner {
    display: table;
}

#menu .dropdown-inner ul {
    display: table-cell;
}

#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 3px 20px;
    clear: both;
    line-height: 20px;
    color: #333333;
    font-size: 12px;
}

#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
}

#menu .see-all {
    display: block;
    margin-top: 0.5em;
    border-top: 1px solid #DDD;
    padding: 3px 20px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 3px 3px;
    font-size: 12px;
}

#menu .see-all:hover,
#menu .see-all:focus {
    text-decoration: none;
    color: #ffffff;
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #23a1d1, #1f90bb);
    background-repeat: repeat-x;
}

#menu #category {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 700;
    line-height: 40px;
    color: #fff;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}

#menu .btn-navbar {
    font-size: 20px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    background-color: #cd4e37;
    top: 5px;
    transition: all 0.35s;
}

#menu .btn-navbar:hover,
#menu .btn-navbar:focus,
#menu .btn-navbar:active,
#menu .btn-navbar.disabled,
#menu .btn-navbar[disabled] {
    color: #ffffff;
    background-color: #b53626;
    outline: none;
}

@media (min-width: 768px) {
    #menu .dropdown:hover .dropdown-menu {
        display: block;
    }
}

@media (max-width: 767px) {
    #menu div.dropdown-inner>ul.list-unstyled {
        display: block;
    }
    #menu div.dropdown-menu {
        margin-left: 0 !important;
        padding-bottom: 10px;
        background-color: rgba(0, 0, 0, 0.1);
    }
    #menu .dropdown-inner {
        display: block;
    }
    #menu .dropdown-inner a {
        width: 100%;
        color: #fff;
    }
    #menu .dropdown-menu a:hover,
    #menu .dropdown-menu ul li a:hover {
        background: rgba(0, 0, 0, 0.1);
    }
    #menu .see-all {
        margin-top: 0;
        border: none;
        border-radius: 0;
        color: #fff;
    }
}


/* content */

#content {
    padding: 30px 15px;
}

@media (min-width: 768px) {
    #content {
        padding: 50px 15px;
    }
}

@media (min-width: 1400px) {
    #content {
        min-height: 700px;
    }
}

.row {
    margin: 0;
}


/* footer */

footer {
    margin-top: 30px;
    padding-top: 80px;
    position: relative;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: bottom;
    background-image: url(/image/catalog/background.jpg);
    background-attachment: fixed;
    text-align: center;
    color: white;
}

footer hr {
    margin-top: 50px;
    border-top: none;
    border-bottom: 1px solid #666;
}

footer a {
	display: block;
    color: #fff;
    border: 1px solid #fff;
    padding: 5px;
    cursor: pointer;
}

footer a:hover {
    color: #fff
}

footer .powered {
    position: relative;
}


/* alert */

.alert {
    padding: 8px 14px 8px 14px;
    border: none;
    border-radius: 0;
    font-size: 18px;
    text-align: center;
}

.alert i {
    margin-right: 10px;
}

/* breadcrumb */

.breadcrumb {
    margin: 0 0 20px 0;
    padding: 8px 0;
    border: 1px solid #ddd;
}

.breadcrumb i {
    font-size: 15px;
}

.breadcrumb>li {
    text-shadow: 0 1px 0 #FFF;
    padding: 0 20px;
    position: relative;
    white-space: nowrap;
}

.breadcrumb>li+li:before {
    content: '';
    padding: 0;
}

.breadcrumb>li:after {
    content: '';
    display: block;
    position: absolute;
    top: -3px;
    right: -5px;
    width: 26px;
    height: 26px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.pagination {
    margin: 0;
}

.pagination>li>a,
.pagination>li>span {
    color: #333;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span,
.pagination>li:last-child>a,
.pagination>li:last-child>span {
    border-radius: 0;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #cc4c3d;
    border-color: #cc4c3d;
}


/* buttons */

.buttons {
    margin: 1em 0;
}

.buttons-right {
    text-align: right;
}

.btn {
    height: 40px;
    padding: 7.5px 22px;
    font-size: 15px;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    line-height: 1.5;
}

.btn.active,
.btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-xs {
    font-size: 9px;
}

.btn-sm {
    font-size: 10.2px;
}

.btn-lg {
    padding: 10px 16px;
    font-size: 15px;
}

.btn-group>.btn,
.btn-group>.dropdown-menu,
.btn-group>.popover {
    font-size: 12px;
}

.btn-group>.btn-xs {
    font-size: 9px;
}

.btn-group>.btn-sm {
    font-size: 10.2px;
}

.btn-group>.btn-lg {
    font-size: 15px;
}

.btn-default {
    color: #ffffff;
    background-color: #cd4e37;
    border: 2px solid #cd4e37;
    line-height: 1.4;
}

.btn-default:hover,
.btn-default:active,
.btn-default:focus,
.btn-default:active:focus,
.btn-default:active:hover,
.btn-default.active,
.btn-default.focus,
.btn-default.disabled,
.btn-default[disabled] {
    color: #cd4e37;
    border: 2px solid #cd4e37;
    background-color: transparent;
    outline: none;
}


.btn-inverse {
    color: #cd4e37;
    background-color: transparent;
    border: 2px solid #cd4e37;
    outline: none;
}

@media (min-width: 768px) {
    .btn-inverse {
        width: auto;
    }    
}

.btn-inverse:hover,
.btn-inverse:active,
.btn-inverse.active,
.btn-inverse.disabled,
.btn-inverse[disabled] {
    color: #cd4e37;    
}

.btn-primary {
    color: #ffffff;
    background-color: #cd4e37;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:active:hover,
.btn-primary.active,
.btn-primary.focus,
.btn-primary.disabled,
.btn-primary[disabled] {
    background-color: #b53626;
    outline: none;
}

.btn-warning {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-danger {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-success {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1);
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
    box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.btn-link {
    height: auto;
    padding: 4px 11px 3px 11px;
    font-size: 12px;
    color: #cd4e37;
    border: 1px solid #cd4e37;
}

.btn-link:hover,
.btn-link:active,
.btn-link:focus,
.btn-link:active:focus,
.btn-link:active:hover,
.btn-link.active,
.btn-link.focus,
.btn-link.disabled,
.btn-link[disabled] {
    color: #cd4e37;
    border: 1px solid #cd4e37;
    background-color: transparent;
    outline: none;
    text-decoration: none;
}

/* list group */

.list-group a {
    border: 1px solid #DDDDDD;
    color: #888888;
    padding: 8px 12px;
}

.list-group a.active,
.list-group a.active:hover,
.list-group a:hover {
    color: #444444;
    background: #eeeeee;
    border: 1px solid #DDDDDD;
    text-shadow: 0 1px 0 #FFF;
}


/* carousel */

.carousel-caption {
    color: #FFFFFF;
    text-shadow: 0 1px 0 #000000;
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome;
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome;
}


/* product list */

.search-result {
    display: inline-block;
    vertical-align: top;
    color: #fff;
    background-color: #ce4e38;
    padding: 2px 8px;
    margin-top: 0;
    font-size: 24px;
    line-height: 24px;
}

.product-thumb {
    position: relative;
    margin-bottom: 40px;
    overflow: auto;
    background-color: #ffffff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    border-top: 8px solid #cd4e37;
}

@media (min-width: 768px) {
    .product-thumb {
        border-top: none;
        border-left: 8px solid #cd4e37;
    }
}

.product-thumb__caption-left {
    display: block;
    text-align: center;    		
}

@media (min-width: 768px) {
    .product-thumb__caption-left {
		display: inline-block;
		vertical-align: top;
		text-align: left;
    }
}

.product-thumb .image a {
    display: block;
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto;
    max-width: 180px;
}

.product-grid .product-thumb .image {
    float: none;
}

@media (min-width: 768px) {
    .product-thumb__caption-left {
        padding: 0  20px;

    }
}

.product-thumb h3 {
    margin: 0 -20px;
    padding: 7px 5px;
    background-color: #eeeeee;
    text-align: center;
}

@media (min-width: 768px) {
    .product-thumb h3 {
        padding: 7px 20px;
        margin: 0;
        text-align: left;
    }
}

.product-thumb h3 a {
    color: #777777;
}

.product-thumb h3 span {
    color: #cd4e37;
    display: block;
}

@media (min-width: 768px) {
    .product-thumb h3 span {
        display: inline-block;
        vertical-align: bottom;
    }
}

.product-thumb .caption {
    min-height: 180px;
}

.product-list .product-thumb .caption {
    padding: 0 20px;
}

@media (min-width: 768px) {
    .product-list .product-thumb .caption {
        display: inline-block;
        vertical-align: top;
        padding: 0;
        float: right;
        width: 72%;
    }
}

.product-thumb .description-group {
    margin-top: 30px;
}

@media (min-width: 768px) {
    .product-thumb .description-group {
        margin-top: 20px;
    }
}

.product-thumb .rating {
    position: absolute;
    top: 10px;
    right: 25px;
}

.rating .fa-stack {
    font-size: 8px;
}

.rating .fa-star-o {
    color: #999;
    font-size: 15px;
}

.rating .fa-star {
    color: #cd4e37;
    font-size: 15px;
}

.rating .fa-star+.fa-star-o {
    color: #cd4e37;
}

h2.price {
    margin: 0;
}

.product-thumb .price-group {
    text-align: center;
    margin: 40px 0;
}

.product-thumb .form-group {
    display: block;
    margin-bottom: 0px;
}

@media (min-width: 768px) {
    .product-thumb .form-group {
		display: inline-block;
		vertical-align: top;
    }
}

.product-thumb .control-label {
    color: #cd4e37;
    font-size: 16px;
    font-weight: 400;
}

.product-thumb .form-group__value {
    font-weight: 300;
    padding: 10px 0;
}

@media (min-width: 768px) {
    .product-thumb .form-group__value {
        max-width: 200px
    }  
}

.product-thumb .form-group__value_time {
    display: inline-block;
    vertical-align: top;
	font-size: 25px;
    font-weight: 400;
    padding: 8px 10px;
    background-color: #eeeeee;
    min-width: 80px;
    min-height: 36px;

}

.product-thumb .form-group__value_timeinroad {
    font-size: 19px;
}

.product-thumb .form-group_margin {
    margin-bottom: 20px;
}

@media (min-width: 768px) {
    .product-thumb .form-group_margin {
        display: inline-block;
        vertical-align: top;
        width: 33%;
    }    
}

@media (min-width: 768px) {
    .product-thumb .price-group {
        text-align: right;
        margin: 0px 0 20px;
        padding: 0 20px;
        float: right;
    }
}

.product-thumb .price {
    min-width: 100px;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 30px;
    text-align: center;
    font-size: 25px;
    color: #444;
}

.product-thumb .price-new {
    display: block;
    margin-top: 10px;
}

.price-old {
    display: block;
    color: #cd4e37;
    text-decoration: line-through;
    font-weight: 700;
}

.product-thumb .button-group {
    border: none;
    background-color: transparent;
    overflow: hidden;
}

.product-thumb .button-group .btn {
    width: 100%;
}

.product-cart .product-details {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
    border-top: 10px solid #cd4e37;
}

@media (min-width: 768px) {
    .product-cart .product-details {
        border-top: none;
        border-left: 10px solid #cd4e37;
    }
}

.product-details .details-caption-left {
    padding: 20px;
    text-align: center;
}

.product-details .details-caption-left .product-img img {
	max-width: 180px;
}

@media (min-width: 800px) {
    .product-details .details-caption-left {
        display: inline-block;
        vertical-align: top;
        padding: 20px;
        float: left;
        text-align: left;
    }
}

.product-details .details-caption-right {
    padding: 0 20px;
}

@media (min-width: 800px) {
    .product-details .details-caption-right {
        width: 72%;
        float: right;
        padding: 0;
    }
}

.product-details .product-title {
    background-color: #eeeeee;
    margin: 0 -20px;
}

.product-details .product-title span {
    color: #cd4e37;
    display: block;
}

@media (min-width: 768px) {
    .product-details .product-title span {
        display: inline-block;
        vertical-align: bottom;
    }
}

@media (min-width: 768px) {
    .product-details .product-title {
        margin: 0;
    }
}

.product-details .product-title h1 {
    margin: 0;
    padding: 7px 0;
    text-align: center;
    color: #777777;
}

@media (min-width: 768px) {
    .product-details .product-title h1 {
        padding: 7px 20px;
        text-align: left;
    }    
}

.product-details .product-options {
    margin: 30px 0 20px;
}

.product-details .control-label {
    color: #cd4e37;
    font-size: 16px;
    font-weight: 400;
}
.product-options .form-group {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 0px;
}

.product-options .form-group_margin {
	margin-bottom: 20px;
}

@media (min-width: 768px) {
    .product-options .form-group_margin {
        display: inline-block;
        vertical-align: top;
        width: 36%;
    }
}

.product-options .form-group_bg {
	padding: 0 8px;
	background-color: #eeeeee;
}

@media (min-width: 768px) {
    .product-options .form-group {
        display: inline-block;
        vertical-align: top;
    }
}

@media (min-width: 768px) {
    .product-details .product-options .option-data {
        width: 200px;
        margin-right: 60px;
    }
}

@media (max-width: 700px) {
    .product-details .product-options .option-data .date {
    	margin-bottom: 20px;
    }

    .product-details .product-options .text-danger {
        margin-top: -17px;
    }
}

.product-details .product-options .timeinroad-data {
        margin-bottom: 20px;
}

@media (min-width: 768px) {
    .product-details .product-options .timeinroad-data {
            margin-left: 25px;
    }    
}

.product-details .product-options .timeinroad-data label{
    color: #333;
}

@media (min-width: 768px) {
    .product-details .product-options .option-time {
        margin-right: 20px;
    }
}

.bootstrap-datetimepicker-widget {
    border: 0!important;
    border-radius: 0!important;
}

.bootstrap-datetimepicker-widget td:hover {
    border-radius: 0!important;
}

.bootstrap-datetimepicker-widget td.active,
.bootstrap-datetimepicker-widget td.active:hover {
    background-color: #cd4e37 !important;
    border-radius: 0!important;
}

.option-time .radio {
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    margin-bottom: 20px;
}

.option-time .radio label {
    font-size: 18px;
    width: 120px
}

.product-options .form-group__value {
	padding: 10px 0;
    font-weight: 300;
}

@media (min-width: 768px) {
    .product-options .form-group__value {
        max-width: 200px
    }  
}


.product-options .form-group__value_time {
	min-width: 65px;
	font-size: 25px;
    font-weight: 400;
}

.product-details .timeinroad-data .form-group__value_time {
    font-size: 20px;
    min-height: 40px;
}

@media (min-width: 768px) {
    .product-details .option-quattity {
        width: 85px;
        text-align: left;
    }
}

.route {
    position: relative;
    margin: 20px 0 40px 0;
}

@media (min-width: 768px) {
    .route {
    margin: -40px 22px 40px 0;        
    }
}


.route .route__bottons {

    margin-bottom: 5px;
}

@media (min-width: 768px) {
    .route .route__bottons {
        text-align: right;        
    }   
}


.route .route__way {
    background-color: #eeeeee;
    padding: 25px 10px 15px 20px;
}

.route .route__waypoint {
    position: relative;
    min-height: 38px;
    margin: -2px 0 0 10px;
    padding: 0 0 20px 16px;
}

.route .route__waypoint:before {
    position: absolute;
    content: "";
    top: 17px;
    left: 1px;
    bottom: -1px;
    border-left: 2px dashed #ccc;
}

.route .route__waypoint .datetime {
    display: inline-block;
    vertical-align: top;
    width: 64px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: #505050;
}

.route__waypoint .datetime b {
    display: block;
    font-size: 18px;
    font-weight: 300;
    color: #333333;
}

.route .route__waypoint .info {
    padding-right: 40px;
    font-size: 14px;
    font-weight: 300;
    line-height: 18px;
    color: #333333;
}

@media (min-width: 768px) {
    .route .route__waypoint .info {
        display: inline-block;
        vertical-align: top;
    }
}


.route .route__waypoint .info b {
    display: block;
    font-size: 18px;
    font-weight: 400;
}

.route .fa {
    position: absolute;
    top: -5px;
    left: -5px;
    font-size: 22px;
    width: 13px;
    height: 12px;
    background-color: #eeeeee;
    color: #b1b1b1;
    border-radius: 50%;
    line-height: 19px;
}


.route #collapse0 > .route__waypoint:first-child > i,
.route #collapse0 > .route__waypoint:last-child > i {
    color:#cd4e37; 
}

.route .route__waypoint:last-child:after {
    border-color: #b0063a;
}

.route .route__waypoint:last-child {
    padding-bottom: 0;
}
.route .route__waypoint:last-child:before {
    position: absolute;
    content: "";
    top: 17px;
    left: 1px;
    bottom: -1px;
    border:none;
}

.product-options__add-block {
    margin: 30px 0;
	padding: 0;
}
.product-options__add-block .form-group {
    display: block;
    margin-bottom: 15px;
}

@media (min-width: 800px) {
	.product-options__add-block .form-group {
		display: inline-block;
        vertical-align: top;
        margin-bottom: 0;     
	}
}

.product-details .price-block {
    text-align: center;
    vertical-align: bottom;
    padding: 15px;
}

@media (min-width: 768px) {
    .product-details .price-block {
        padding: 6px 30px;
        min-width: 200px;
    }
}

.product-details .price-block ul,
.product-details .price-block h2 {
    margin: 0;
    text-transform: none;
    transition: all 0.35s;
}

.price-block .price-old {
    font-size: 27px;
}

@media (min-width: 768px) {
    .product-options .product-options__button-buy {
        width: 150px;
        vertical-align: bottom;
    }
}

.thumbnails {
    overflow: auto;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 0;
}

.thumbnails>li {
    margin-right: 20px;
}

.thumbnails>img {
    width: 100%;
}

.product-additional-images {
    margin-bottom: 30px;
}

.image-additional a {
    margin-bottom: 20px;
    padding: 5px;
    display: block;
    border: 0;
    border-radius: 0;
}

.image-additional {
    max-width: 78px;
}

.thumbnails .image-additional {
    display: inline-block;
    vertical-align: top;
}

#form-review .control-label {
	text-align: left;
}

#form-review input,
#form-review textarea {
    max-width: 100%;
}


.text-danger {
    color: #fff;
    background-color: #cd4e37;
    padding: 3px 10px;
    margin-top: 2px;
}

.well {
    min-height: 20px;
    padding: 40px 20px 20px 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.account-account .well .list-unstyled {
    max-width: 320px;
    margin: 0 auto;
}

.account-account .well .list-unstyled li {
    margin-bottom: 20px;
    max-width: 320px;
}

.account-account .well .list-unstyled li .btn {
    width: 100%;
}

.account-forgotten fieldset {
	max-width: 300px;
    margin: 20px auto;
}

.checkout-checkout .table-responsive .table>thead {
	background-color: #EFEFEF;
}

.checkout-checkout #button-confirm {
	width: 100%;
}

@media (min-width: 768px) {
	.checkout-checkout #button-confirm {
		width: auto;
	}
}

.information-information-8 .well,
.information-information-9 .well,
.information-information-10 .well,
.information-information-11 .well {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    padding: 30px 20px;
    background-position: bottom center;
    background-color: transparent;
    color: #ffffff;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
    min-height: 200px;
}

.information-information-8 .well {
    background-image: url(/image/catalog/gallery/page-bg1.jpg);
}

.information-information-9 .well {
    background-image: url(/image/catalog/gallery/page-bg2.jpg);
}

.information-information-10 .well {
    background-image: url(/image/catalog/gallery/page-bg3.jpg);
}

.information-information-11 .well {
    background-image: url(/image/catalog/gallery/page-bg4.jpg);
}

.table-checkout {
    display: none;
}

@media (min-width: 601px) {
    .table-checkout {
        display: block;
    }
}

.table-checkout.mobile {
    display:none;
    margin-top: 40px;   
}

@media (max-width: 600px) {
     .table-checkout.mobile {
        display: block;
    }  
}

.table-checkout__column {
}

.table-checkout__head {
    background-color: #efefef;
    padding: 10px;
    height: 40px;
}

.table-checkout__body {
    padding: 10px;
    text-align: center;
}

.table-checkout__body-quantity {
    display: inline-block;
    padding: 5px 10px;
    color: #cd4e37;
    border: 2px solid #cd4e37;
}

.table-checkout__body-total {
    margin-bottom: 50px;
    text-align: right;
    padding-right: 0;
}

.table-checkout__body-total strong {
    float: left;
    padding-top: 5px;
    font-size: 18px;
}

.ticket {
	border-left: 4px solid #cd4e37;
	padding: 0 8px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}

.ticket .ticket-img,
.ticket .ticket-info {
	display: inline-block;
	vertical-align: middle;
}
.ticket .ticket-info {
	margin-left: 10px;
}

.tech-block {
    text-align: right;
}

.checkout-checkout .agent {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: -20px;
    margin-right: -20px;
    margin-bottom: 20px;
}

@media (min-width: 800px) {
    .checkout-checkout .agent {
        float: right;
        margin-top: 0;
    }  
}

.agent .agent__data {
    padding: 15px;
    font-size: 16px;
    border: 2px solid #cd4e37;
    border-right: 0;
}



.agent .agent__data h4 {
    font-size: 18px;
    margin-top: 0;
}

.agent .control-number {
    margin-bottom: 20px;
    padding: 15px 15px 15px 0;
}

.agent .control-number input{
    max-width: 180px;
    padding: 8px;
    margin-top: 10px;
}

.agent ::-webkit-input-placeholder {font-size: 16px;}
.agent ::-moz-placeholder          {font-size: 16px;}
.agent :-moz-placeholder           {font-size: 16px;}
.agent :-ms-input-placeholder      {font-size: 16px;}

.checkout-checkout #guest-data {
	margin-top: 0px;
}

.checkout-checkout .passengers {
    max-width: 340px;
    margin: 0 auto;    
}


.checkout-checkout .passenger-data {
    position: relative;
    max-width: 340px;
    margin: 50px auto 0;
    background-color: #eee;
    padding: 5px 20px 20px 20px;
}

.checkout-checkout .passenger-data h4 {
    margin-top: 5px;
    margin-bottom: 30px;
}

.checkout-checkout .passenger-data__remove {
    position: absolute;
    top: 0;
    right: 0;
    padding: 8px 10px;
    color: #fff;
    background-color: #cd4e37;
    cursor: pointer;
    line-height: 0px;
    border:2px solid #cd4e37;
}

.checkout-checkout  .passenger-data__remove:hover {
    background-color: transparent;
    color: #cd4e37;    
}

.checkout-checkout .table-responsive {
	margin-top: 50px;
}

.checkout-checkout .table-responsive .table>thead>tr>td,
.checkout-checkout .table-responsive .table>thead>tr>th,
.checkout-checkout .table-responsive .table>tbody>tr>td,
.checkout-checkout .table-responsive .table>tbody>tr>th {
	border: 0;
	padding: 15px 10px;
}

.login-form {
	max-width: 300px;
    margin: 0 auto;
}

.login-form .buttons-right {
    padding-top: 20px;
}

.login-form .register-btn {
    float: left;
}

.register-form {
    max-width: 300px;
    margin: 0 auto;
}

.agree-block {
    text-align: right;
    margin: 20px 0;
}

.agree-block input {
    margin: 5px 0 0 8px !important;
}

.agree-block div {
    display: inline-block;
    vertical-align: top;
}
.agree-block > div:nth-child(1) {
    width: 240px;
}

.contact-block {
    margin-bottom: 40px;
}

.contact-block h4 {
	margin-bottom: 20px;
}

.contact-block a {
    display: block;
    text-align: center;
    margin-bottom: 20px;
    padding: 3px 8px;
    border: 1px solid #cd4e37;
    font-size: 16px;
}

.contact-block.telephone a {
	min-width: 157px;
	text-align: left;
}

.information-contact #content>div>div>div:nth-child(1) h4 .fa {
    font-size: 25px;
}

@media (min-width: 768px) {
    .contact-block a {
        display: inline-block;
    }
}

.contact-block h4 .fa {
    color: #cd4e37;
}

.contact-block h4 img {
    display: inline-block;
    vertical-align: top;
}

.contact-block .fa {
    font-size: 20px;
}


@media (min-width: 768px) {
    .modal-dialog {
        width: 1020px;
    }
}

.modal-content {
    border-radius: 0;
}

@media (min-width: 1200px) {
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-2:nth-child(6n+1),
    #content .col-lg-3:nth-child(4n+1),
    #content .col-lg-4:nth-child(3n+1),
    #content .col-lg-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-2:nth-child(6n+1),
    #content .col-md-3:nth-child(4n+1),
    #content .col-md-4:nth-child(3n+1),
    #content .col-md-6:nth-child(2n+1) {
        clear: left;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-2:nth-child(6n+1),
    #content .col-sm-3:nth-child(4n+1),
    #content .col-sm-4:nth-child(3n+1),
    #content .col-sm-6:nth-child(2n+1) {
        clear: left;
    }
}


/* fixed colum left + content + right*/

@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%;
    }
    #column-left+#content .product-layout .col-md-3 {
        width: 50%;
    }
    #column-left+#content+#column-right .product-layout .col-md-3 {
        width: 100%;
    }
    #content+#column-right .product-layout .col-md-3 {
        width: 100%;
    }
}


/* fixed product layouts used in left and right columns */

#column-left .product-layout,
#column-right .product-layout {
    width: 100%;
}


/* fixed mobile cart quantity input */

.input-group .form-control[name^=quantity] {
    min-width: 50px;
}


/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #df5c39;
}

.img-thumbnail {
    border: none;
}

#input-quantity::-webkit-outer-spin-button,
#input-quantity::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.information-information-7 .well {
    padding: 0;
}

.information-information-7 .well p {
    margin: 0;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
    vertical-align: baseline;
}

.common-home #map {
    display: none;
}
@media (min-width: 768px) {
    .common-home #map {
        display: block;
    }    
}

.common-home #map {
    height: 700px;
}
.common-home #map>div {
    top:30px !important;
    background-color: #eee !important;
}

#map {
    height: 300px;
}

#map>div {
    background-color: #eee !important;
}


/*--------Spinner---------------*/
.spinner {
    display:none;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;    
}

.spinner-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0px;
    left: 0px;
    background-color: #cd4e37;
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
    z-index: 9999;
}

.sk-cube-grid {
    position: relative;
    top: 40%;
    width: 90px;
    height: 90px;
    margin: 0px auto;
    z-index: 99999;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}